* {
    box-sizing: border-box;
}

/* CONTAINERS */

.container1 {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.container2 {
    width: 100%;
    max-width: 1170px;
    padding-left: 425px;
}

/* HEADER */

.center {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
}

h1 {
    color: #2E442D;
    font-size: 35px;
    font-weight: 400;
    font-family: "PT Sans";
    text-align: center;
}

/* COLORS*/

.circle1, .circle2, .circle3, .circle4 {
    border: 1px solid #000;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: inline-block;
    margin-right: 25px;
    }

.circle1 {
    border-color: #C05E51;
    background-color: #C05E51;
}

.circle2 {
    border-color: #D8D5C4;
    background-color: #D8D5C4;
}

.circle3 {
    border-color: #5A6E5A;
    background-color: #5A6E5A;
}

.circle4 {
    border-color: #F5C265;
    background-color: #F5C265;
}

/* FONTS */

h2 {
    text-align: center;
    display: block;
    margin-top: 70px;
    margin-bottom: 40px;
    font-family: "PT Sans";
    font-size: 20px;
    font-weight: 400;
    color: #9E9E9E;
}

.roboto p {
    line-height: 33px;
    font-family: Roboto;
    font-size: 24px;
}

.ptsans p {
    line-height: 33px;
    font-family: "PT Sans"; 
    font-size: 24px;
}

.roboto {
    display: inline-block;
    margin-left: 150px;
}

.ptsans {
    display: inline-block;
    margin-left: 100px;
}

/* TEXT STYLES */

.heading, .paragraph {
    display: inline-block;
    font-size: 24px;
    font-weight: regular;
    font-family: "PT Sans";
    margin-left: 230px;
}

.heading h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: Roboto;
}

/* PATTERNS */

.img1, .img2, .img3 {
    display: inline-block;
}

.img1 {
    margin-left: 150px;
}

.img2, .img3 {
    margin-left: 30px;
}

